
#nav a{
	padding: 3%;
}

.dance1{
	background-image: url(../img/dance_1.jpg);
	height: 480px;
}

.dance1 h5  {
	margin-top:23%;
	font-size: 80px;
}

.dance1 p  {
	padding: 2%;
	margin-bottom: 10%;
}

.dance1 a{
	padding: 2% 10%;
	border:1px solid #192951;
	background-color: #192951;
}

.textura2{
	background-image: url(../img/textura_2.jpg);
	height: 480px;
}

.textura2 p{
	font-size: 25px;
	margin: 20% 0 0 0;
}

.eight{
	margin-left: 20%;
}

.deco{
	width: 20%;
	margin: -4% 0% 5% 35%;

}
.eight a{
	margin-left: -23%;
	padding: 2% 5%;
	border: 1px solid #192951;
	background-color: #192951;
}

